<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @measure.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @measure.humidity %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
